@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'helvetica_neue_lt_std37ThCn';
    src: url('webfontkit/helveticaneueltstd-thcn-webfont.eot');
    src: url('webfontkit/helveticaneueltstd-thcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/helveticaneueltstd-thcn-webfont.woff') format('woff'),
         url('webfontkit/helveticaneueltstd-thcn-webfont.ttf') format('truetype'),
         url('webfontkit/helveticaneueltstd-thcn-webfont.svg#helvetica_neue_lt_std37ThCn') format('svg');
    font-weight: normal;
    font-style: normal;

}